@charset "utf-8";
/* CSS Document */
.comment_box
{
background-color:;  padding-top:3px ;BORDER: #cfd6e0 1px solid;font-size:12px; font-family:verdana;
}

.comment_button
{

BACKGROUND-COLOR: #3967A3;
	BORDER:;
	
	COLOR: #ffffff;
	FONT-FAMILY: tahoma;
	FONT-weight: bold;
	FONT-SIZE: 11px;
	cursor: hand;
	overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden; 
}

.post_button
{

BACKGROUND-COLOR: #3967A3;
	BORDER-BOTTOM: #3967A3 1px solid;
	BORDER-LEFT: #3967A3 1px solid;
	BORDER-RIGHT: #3967A3 1px solid;
	BORDER-TOP: #3967A3 1px solid;
	COLOR: #ffffff;
	FONT-FAMILY: tahoma;
	FONT-weight: bold;
	FONT-SIZE: 11px;
	cursor: hand;
}


a
	{
	text-decoration:none;
	color:#e0e3e9;
	}
	a:hover
	{
	text-decoration:;
	color:#d02b55;
	}
	*{margin:0;padding:0;}
	
	
	ol.timeline
	{
	list-style:none;
	}
	ol.timeline li
	{ 
	display:none;
	position:relative;
	padding:0px; 
	background-color:; 
	width:502px;
	border-bottom:1px solid #e0e3e9;
	border-top:1px solid #ffffff;
	}
	ol.timeline li:first-child
	{
	position:relative;
	padding:0px;
	border-bottom:1px solid #e0e3e9;
	border-top:1px solid #ffffff;
	}
	
	.delete_button
	{
	float:right; 
	margin-right:5px; 
	width:20px; 
	height:20px;
	
	}
	
	.feed_link
	{
	font-style:font-family:Georgia; font-size:11px;padding:10px; float:left; width:350px;
	}
	.feed_a
	{
	color:#0000CC; text-decoration:underline;
	}
	.delete_update
	{
	font-weight:bold;
	
	}
	
	
	
	.fb-comment-holder{
	width :;
	margin-left:0px;
}
.fb-maincomment-holder{
	width : 550px;
	margin-left:0px;
}
#comment-holder{
    background-color:
    border-bottom:;
    margin-top: 1px;
    padding: 0px 0px;
	overflow : auto;
	overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden; 
	height:auto; 
	min-height:30px;
}

#maincomment-holder{
    background-color:
    border-bottom:;
    margin-top: 2px;
    padding: 0px 0px;
	overflow : auto;
	overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden; 
	height:auto; 
	min-height:30px;
}

.reply-holder{
    background-color: #EDEFF4;
    border-bottom: 1px solid #E5EAF1;
    margin-top: 2px;
    padding: 5px 0px 5px 5px;
	display:none;
	overflow:auto;
}
.delete{
	background:url("../images/delete.png") no-repeat left top;
	width:15px;
	height:15px;
	float:right;
	visibility : hidden;
	cursor : pointer;
}
.delete-hover{
	background:url("../images/delete.png") no-repeat left -30px;
	width:15px;
	height:15px;
	float:right;
	cursor : pointer;
}
.comment-text{
    background-color: #EDEFF4;
    padding: 0px 4px;
    text-align:left;
    color: #333333;
    direction: ltr;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    text-align: left;
    float:right;
    width:88%;
    /*    Hack for breking long lines   */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap : break-word; /* Internet Explorer 5.5+ */
}
#show-more{
	background-color: #EDEFF4;
	padding : 5px 25px;
	background-image : url("../images/comments.gif");
	background-position : 2px 5px;
	background-repeat : no-repeat;
}
.ajax-loading{
	padding : 0px 16px;
	background-image : url("../images/ajax-loader.gif");
	background-repeat : no-repeat;
	visibility : hidden;
}
.comment-text #text{
	width:95%;
}
#text a{
	color: #3B5998;
	font-weight : bold;
	text-decoration : none;
}
#text a:hover{
	text-decoration : underline;
}
.ago{
	width:88%;
	clear:left;
	color: #808080;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 11px;
	display : block;

}


#maincomment-holder textarea{
	height: 26px;
	width : 100%;
	border : 1px solid #BDC7D8;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    padding: 3px;
	overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden; 
}
#maincomment-holder input[type=text]{
	border : 1px solid #BDC7D8;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 12px;
	padding-left : 2px;
	margin-bottom : 4px;
}


#comment-holder textarea{
	height: 26px;
	width : 100%;
	float : right;
	border : 1px solid #BDC7D8;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    padding: 3px;
	overflow:hidden;
	overflow-y: hidden;
	overflow-x: hidden; 
}
#comment-holder input[type=text]{
	border : 1px solid #BDC7D8;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 12px;
	padding-left : 2px;
	margin-bottom : 4px;
}
.error{
	background : #FFCCCC;
}
#comment-holder span{
	margin-right:1px;
	margin-left:-2px;
}
#fb-button{
    background-color: #5B74A8;
	border-width : 1px;
    border-color: #1A356E;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
	height : 20px;
	width : 69px;
    outline: medium none;
    white-space: nowrap;
}
#submit-button{
	display : none;
	margin-left : 82%;
	padding-top:7px;
}
.lightText{
	color : #9B9B9B;
}
#link-text{
	font-size: 11px;
	font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	cursor : pointer;
	color : #3B5998;
}
#link-text:hover{
	text-decoration : underline;
}

.show_face
{
	BACKGROUND-COLOR: #0055aa;
	BORDER-BOTTOM: #ffffff 1px solid;
	BORDER-LEFT: #ffffff 1px solid;
	BORDER-RIGHT: #ffffff 1px solid;
	BORDER-TOP: #ffffff 1px solid;
	COLOR: #ffffff;
	FONT-FAMILY: Tahoma;
	FONT-weight:;
	FONT-SIZE: 14px;
	cursor: hand;
}	


